.advantage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(20% - 15px);
    padding: 0 30px;
    height: 204px;
    border: 1px solid @line_box;
    text-align: center;
    line-height: 40px;
    color: @nav;
    .rem(16);
    font-weight: normal;
}