mixin social()
    .social
        a(href="/").social__item.lazy(data-src="/assets/img/vk.png")
        a(href="/").social__item.lazy(data-src="/assets/img/instagram.png")
        a(href="/").social__item.lazy(data-src="/assets/img/facebook.png")
        a(href="/").social__item.lazy(data-src="/assets/img/youtube.png")