.subtitle {
    width: 100%;
    font-weight: 400;
    font-style: normal;
    .rem(16);
    color: @text;
    line-height: 26px;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px 0;
    @media @320{
        .rem(16);
        margin-bottom: 0;
        padding: 0;
    }
}