mixin pagination()
    .pagination__wrapper
        .pagination
            a(href="/").pagination__arrow.pagination__arrow_left.lazy(data-src="/assets/img/arrow_pagination.svg")
            a(href="/").pagination__number.pagination__number_active 1
            a(href="/").pagination__number 2
            a(href="/").pagination__number 3
            a(href="/").pagination__number 4
            a(href="/").pagination__number 5
            a(href="/").pagination__arrow.pagination__arrow_right.lazy(data-src="/assets/img/arrow_pagination.svg")