mixin slider_0()
    .slider
        .slider__arrows.slider__arrows_main
        .slider__box.slider__box_main
            +slide('/assets/img/service_1.jpg','Онлайн-уроки для взрослых и детей')
            +slide('/assets/img/service_2.jpg','Уроки игры на акустической гитаре для взрослых и детей')
            +slide('/assets/img/service_3.jpg','Уроки игры на классической гитаре для взрослых и детей')
            +slide('/assets/img/service_4.jpg','Уроки игры на фортепиано для взрослых и детей')
            +slide('/assets/img/service_5.jpg','Уроки игры жлектрогитаре для взрослых и детей')
            +slide('/assets/img/service_6.jpg','Уроки игры на барабанах для взрослых и детей')
            +slide('/assets/img/service_7.jpg','Уроки вокала для взрослых и детей')
            +slide('/assets/img/service_8.jpg','Уроки игры на укулеле для взрослых и детей')