mixin slider_1()
    .slider.slider_foto
        .slider__arrows.slider__arrows_course
        .slider__box.slider__box_course
            img.slider__item.lazy(data-src="/assets/img/foto_1.jpg" alt="")
            img.slider__item.lazy(data-src="/assets/img/foto_2.jpg" alt="")
            img.slider__item.lazy(data-src="/assets/img/foto_3.jpg" alt="")
            img.slider__item.lazy(data-src="/assets/img/foto_4.jpg" alt="")