@import 'less/utils/reset';
@import 'less/utils/fonts';
@import 'less/utils/buttons';
@import 'less/utils/mq';
@import 'less/utils/vars';
@import 'less/utils/functions';




@import 'blocks/advantage/advantage';
@import 'blocks/button/button';
@import 'blocks/course/course';
@import 'blocks/footer/footer';

@import 'blocks/headline/headline';
@import 'blocks/header/header';
@import 'blocks/logo/logo';
@import 'blocks/nav/nav';
@import 'blocks/news/news';
@import 'blocks/phone/phone';
@import 'blocks/section/section';
@import 'blocks/slide/slide';
@import 'blocks/slider/slider';
@import 'blocks/title/title';


* {
  font-family: 'Open Sans', sans-serif;
}

p{
  font-weight: 400;
  font-style: normal;
  .rem(16);
  color: @text;
  line-height: 26px;
  margin-bottom: 10px;
}

// html,
// body {
//   height: 100%;
// }

// body {
//   min-height: 100%;
// }

// .stop_scrolling {
//   height: 100%;
//   overflow: hidden;
//   position: fixed;
// }

// .input_focus{
//   box-shadow: @boxF1;
// }
