// font color 
@wt: #ffffff;

@bk: #333333;
@bk_2: #555555;
@text: #444444;

@nav: #0a0a0a;

@red: #dd2159;

@red_hover: rgba(255,255,255,.2);
@arrow_hover: rgba(255,255,255,.5);
@button_hover: rgba(221, 33, 89, 0.8);

@line: #afafaf;
@line_title: #eee;
@line_box: #eaeaea;

@line_form: #dfdfdf;

@bg: #f7f7f7;

@tag: #5b5b5b;

@box:  0px 0px 5px 0px rgba(0,0,0,0.13);

@box_1: 0px 0px 7px 1px rgba(0,0,0,0.12);