.offer {
    padding: 50px 40px 40px 40px;
    border: 1px solid @line;
    margin-bottom: 30px;
    &__title {
        font-weight: 600;
        font-style: normal;
        .rem(24);
        line-height: 28px;
        color: @red;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__text {}

    &__price {
        font-weight: 400;
        font-style: normal;
        .rem(16);
        line-height: 26px;
        color: @red;
        margin-bottom: 20px;
    }
}