extends ../layout/main




block variables
    -var title = 'course_item'
    -var description = 'course_item'
    -var pageClass = 'page_courses'

block content
    +section_4()
    +section_10()
    +section_11()
    +section_12()
    +section_13()
    
    +section_13()
    +section_14()    
    +section_15()
    +section_16()
    +section_17()
    +section_19()