//- extends ../layout/main




//- block variables
//-     -var title = 'index'
//-     -var description = 'index'
//-     -var pageClass = 'page_courses'

//- block content
//-     +section_0()
//-     +section_1()
//-     +section_2()
//-     +section_3()