//- extends ../layout/main




//- block variables
//-     -var title = 'sitemap'
//-     -var description = 'sitemap'
//-     -var pageClass = ''

//- block content
//-     section.section
//-         .section__inner.section__inner_side
            
//-             .section__box.section__box_side
//-                 +title('Карта сайта','title_line')
//-                 +nav_map()
//-                 .news__tags
//-                     a(href="/").news__tag fender
//-                     a(href="/").news__tag gibson
//-                     a(href="/").news__tag какнаписатьмузыку
//-                     a(href="/").news__tag какнаписатьпесню
//-                     a(href="/").news__tag квинтовыйкруг
//-                     a(href="/").news__tag композитор
//-                     a(href="/").news__tag рокгруппа
//-                     a(href="/").news__tag творчество
//-                     a(href="/").news__tag чтоподаритьженщине
//-                     a(href="/").news__tag чтоподаритьмужчине
//-                     a(href="/").news__tag fender
//-                     a(href="/").news__tag gibson
//-                     a(href="/").news__tag какнаписатьмузыку
//-                     a(href="/").news__tag какнаписатьпесню
//-                     a(href="/").news__tag квинтовыйкруг
//-                     a(href="/").news__tag композитор
//-                     a(href="/").news__tag рокгруппа
//-                     a(href="/").news__tag творчество
//-                     a(href="/").news__tag чтоподаритьженщине
//-                     a(href="/").news__tag чтоподаритьмужчине
//-                     a(href="/").news__tag fender
//-                     a(href="/").news__tag gibson
//-                     a(href="/").news__tag какнаписатьмузыку
//-                     a(href="/").news__tag какнаписатьпесню
//-                     a(href="/").news__tag квинтовыйкруг
//-                     a(href="/").news__tag композитор
//-                     a(href="/").news__tag рокгруппа
//-                     a(href="/").news__tag творчество
//-                     a(href="/").news__tag чтоподаритьженщине
//-                     a(href="/").news__tag чтоподаритьмужчине
//-             +sidebar()