//- extends ../layout/main




//- block variables
//-     -var title = 'sertificate'
//-     -var description = 'sertificate'
//-     -var pageClass = ''

//- block content
//-     +section_6()
//-     +section_7()