mixin section_7()
    section.section
        .section__inner
            +title('Виды сертификатов','title_line')
            .section__box
                +sert('/assets/img/sert_1.jpg','Сертификат на акустическую гитару','4 групповых урока — 2000 р.','8 групповых уроков — 4000 р.')
                +sert('/assets/img/sert_2.jpg','Сертификат на классическую гитару','4 индивидуальных урока — 6000 р.','8 индивидуальных уроков — 10800 р.')
                +sert('/assets/img/sert_3.jpg','Сертификат на электрогитару','4 групповых урока — 1800 р.','8 групповых уроков — 3600 р.')
                +sert('/assets/img/sert_4.jpg','Сертификат на фортепиано','4 индивидуальных урока — 6000 р.','8 индивидуальных уроков - 10800 р.')
                +sert('/assets/img/sert_5.jpg','Сертификат на барабаны','4 урока в мини-группе — 3600 р.','4 индивидуальных урока — 7200 р.')
                +sert('/assets/img/sert_6.jpg','Сертификат на вокал','4 урока в группе по 2 человека — 3600 р.','4 индивидуальных урока — 7200 р.')
                +sert('/assets/img/sert_7.jpg','Сертификат на укулеле','4 групповых урока — 1800 р.','4 индивидуальных урока — 6000 р.')