.section{
    width: 100%;

    &__inner{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0;
        
    }

    &__box{
        padding: 30px 0;

        &_advantages{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }
        &_courses{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }
    }
}