mixin section_12()
    section.section
        .section__inner.section__inner_slider
            +title('Наши занятия, концерты и квартирники')
            +subtitle('Листайте фото')
            +slider_1()