mixin section_1()
    section.section.section_intro
        .section__inner.section__inner_intro
            +title('Музыкальная Школа Максима Ульянова','title_line')
            .section__box
                p Мы рады видеть Вас на сайте Музыкальной Школы Максима Ульянова! Наша школа работает в области музыкального образования уже более 11 лет. За это время мы накопили значительный опыт в области педагогики, составили авторские образовательные программы и оснастили наши кабинеты современным оборудованием, которое необходимо для образовательного процесса и просто для каждого музыканта.

                p Благодаря всему этому наши ученики занимали, занимают и будут занимать призовые места в районных, городских и даже международных конкурсах.

                p В нашей школе есть индивидуальные и групповые занятия, на которых Вы увидите результат уже на первом уроке. Помимо этого у нас также регулярно проходят репетиции в классических ансамблях, рок и кавер-группах, в которые мы помогаем объединиться нашим ученикам, открывая им тем самым новый мир музыки.

                p Каждые полгода наши ученики выступают на больших отчетных концертах, для которых мы арендуем лучшие клубы Москвы. Ещё ежемесячно мы проводим квартирники, где Вы сможете выступить уже в первый месяц обучения или просто приятно провести время, узнать много нового на мастер-классах, познакомиться с новыми людьми и послушать живое исполнение как учеников нашей школы, так и преподавателей.

                p Раз в неделю мы проводим клубные дни, когда наши ученики собираются вместе для свободного время препровождения, где вас ждут общение, настольные игры, обмен песнями и опытом.
            
            .section__box.section__box_advantages
                +advantage('От 500 рублей за занятие')
                +advantage('Просторные аудитории')
                +advantage('Пробный первый урок')
                +advantage('Первая песня уже на первом уроке')
                +advantage('м. Чертановская м. Перово')
                +advantage('','advantage_hidden')
                +advantage('','advantage_hidden')
                +advantage('','advantage_hidden')
                +advantage('','advantage_hidden')