.section{
    width: 100%;
    &_uneven{
        background-color: @bg;
    }

    &_main{
        background-color: @wt;
    }
    &_banner{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__inner{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 40px 0;

        @media @1024,@768{
            padding: 30px 20px;
        }
        @media @320{
            padding: 20px 10px;
        }
        &_main{
            padding: 0;
        }
        &_banner{
            height: 692px;
            display: flex;
            align-items: center;
        }
        &_side{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }
        &_slider{
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }
    }

    &__box{
        padding: 30px 0;

        @media @320{
            padding: 15px 0;
        }

        &_advantages{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }
        &_courses{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }
        &_side{
            width: calc(100% - 290px);
        }
        &_feedback{
            display: flex;
            justify-content: center;
        }
        &_contacts{
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
        }
        &_map{
            width: calc(50% - 15px);
        }
    }
}