mixin section_15()
    section.section
        .section__inner
            +title('Задать вопрос')
            +subtitle('Заполните форму, и мы обязательно ответим')
            .section__box.section__box_feedback
                +feedback('','','text','feedback_course')