mixin section_14()
    section.section
        .section__inner
            +title('У Вас много вопросов')
            +subtitle('Мы дадим ответы на самые важные из них')
            .section__box.section__box_faq
                +faq('','Что делать, если у меня нет инструмента?','Наш преподаватель перед первым уроком бесплатно созвонится с Вами и даст все рекомендации по покупке необходимого для занятий инструмента с оптимальным для Вас соотношением цена/качество.')
                +faq('','Чем отличаются наши ОФФЛАЙН-УРОКи от тех, что есть в интернете?','Программа, в рамках которой Вы будете заниматься, разработана преподавателями нашей школы на основе 11-летнего опыта работы в области музыкального образования. Также наш преподаватель будет всё время сопровождать Вас в рамках данного формата уроков.')
                +faq('','Я хочу играть на барабанах, мне нужна дома установка?','Не обязательно! Для занятий необходимо иметь лишь барабанные палочки либо барабанный пэд, который наш преподаватель поможет подобрать перед первым уроком при бесплатном созвоне.')
                +faq('','Что мне нужно для уроков из техники?','Для ОНЛАЙН-УРОКов необходима лишь веб-камера и инструмент, для ОФФЛАЙН - достаточно даже телефона. Как установить необходимые для занятия программы преподаватель расскажет перед первым уроком.')
                +faq('','У меня плохой интернет, я не смогу заниматься?','Сможете. В таком случае Вам подойдет ОФФЛАЙН-УРОК. В рамках такой формы занятий Вам нужно будет подгрузить видео (можно сделать ночью, например), выполнить задания оттуда, записать обратное видео и отправить аналогичным способом преподавателю.')
                +faq('','Как мне все настроить?','Об этом Вам расскажет преподаватель при звонке перед первым уроком.')
            