mixin section_11()
    section.section
        .section__inner
            +title('Что вы получите')
            +subtitle('у нас на занятиях')
            .section__box.section__box_advantages
                +advantage('Хорошую технику игры на акустической гитаре','advantage_course')
                +advantage('Уверенное владение своим голосом и возможность исполнять любимые песни под гитару','advantage_course')
                +advantage('Пробный первый урок','advantage_course')
                +advantage('Первая песня уже на первом уроке','advantage_course')
                +advantage('','advantage_course advantage_hidden')
                +advantage('','advantage_course advantage_hidden')
                +advantage('','advantage_course advantage_hidden')