mixin section_9()
    section.section
        .section__inner.section__inner_side
            
            .section__box.section__box_side
                +title('Новости школы','title_line','date')
                .section__box
                    .section__image.lazy(data-src="/assets/img/news_1.jpg")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore vitae sint accusamus cum ut quasi, explicabo quisquam reprehenderit nihil deserunt! Reiciendis assumenda quidem harum. Deserunt eveniet nesciunt consequatur iusto temporibus voluptatum, libero at, rerum praesentium beatae voluptatem eligendi quis sit corrupti fugiat pariatur impedit reprehenderit est illo! Voluptatem obcaecati ipsa ullam eligendi velit sit aut repellendus, magnam, aliquid quia nisi voluptates quasi iusto suscipit est soluta eius dolor, consequatur deserunt at excepturi dolorem laborum sequi! Voluptas quo atque impedit iusto aut tempora, repellendus reiciendis aperiam dolores facilis, tempore qui sint molestiae perferendis quaerat aliquam vitae ea! Veniam, veritatis saepe.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ratione cum consectetur ea itaque cumque fuga, nesciunt pariatur quaerat esse et dicta. Commodi necessitatibus eum labore dolorem! Qui, voluptas ipsam animi enim magnam facere neque porro quisquam natus quod beatae maiores illo tenetur sed quas, ullam provident corrupti tempora. Neque aperiam accusamus obcaecati. Consequatur iusto, tenetur aliquam non eligendi quasi assumenda? Enim qui nesciunt optio pariatur ad facilis? Minima asperiores distinctio facilis fuga placeat quasi incidunt accusantium et autem modi perferendis cumque, accusamus voluptatibus, dolores, beatae quibusdam maxime eligendi quod consequatur sint iure eum commodi. Harum molestias in vel ipsa numquam ratione voluptate perferendis ducimus modi reiciendis officia rem optio corrupti distinctio recusandae beatae error, impedit suscipit molestiae! Sed a quisquam veniam saepe sunt aliquid inventore qui consectetur, voluptas minus accusamus sit consequuntur pariatur? Veritatis officiis repudiandae aliquam optio ex quidem quia natus perspiciatis iusto vel adipisci suscipit, amet sequi architecto veniam! Voluptates iste velit tenetur eaque esse id maiores tempora sint voluptatibus cumque sequi accusantium amet commodi mollitia, asperiores pariatur fugit unde praesentium. Magni temporibus minus nostrum blanditiis architecto, saepe autem quam libero. Culpa, reiciendis nisi sapiente non amet vitae nihil at vel tempore rem veritatis dicta. Neque, doloribus.
                    p https://zen.yandex.ru/media/id/5ec02b2d7f5192548fb270ba/kak-napisat-pesniu-kratkii-gaid-dlia-nachinaiuscih-5f0fec1955c45426d7d21a7b
                    .news__tags
                        a(href="/").news__tag fender
                        a(href="/").news__tag gibson
                        a(href="/").news__tag какнаписатьмузыку
                        a(href="/").news__tag какнаписатьпесню
                        a(href="/").news__tag квинтовыйкруг
                        a(href="/").news__tag композитор
                        a(href="/").news__tag рокгруппа
                        a(href="/").news__tag творчество
                        a(href="/").news__tag чтоподаритьженщине
                        a(href="/").news__tag чтоподаритьмужчине
                    +pagination('page')
            +sidebar()