mixin section_17()
    section.section
        .section__inner
            +title('Смотрите другие курсы:')
            .section__box.section__box_courses
                +course('/assets/img/service_2.jpg','Акустическая гитара','От 5 песен с нуля за 4 урока (или новые песни каждый урок)')
                +course('/assets/img/service_3.jpg','Классическая гитара','От постановки рук и знания нот до глубокого анализа произведений')
                +course('/assets/img/service_5.jpg','Электрогитара','От 5 песен с нуля за 4 урока и игра в музыкальной группе')
                +course('/assets/img/service_7.jpg','Вокал','новая песня каждую неделю')
                +course('/assets/img/service_4.jpg','Фортепиано','От классического фортепиано до клавишника в рок-группе')
                +course('/assets/img/service_6.jpg','Барабаны','От 5 песен с нуля за 4 урока и игра в музыкальной группе')
                +course('/assets/img/service_8.jpg','Укулеле','От 5 песен с нуля за 4 урока (или новые песни каждый урок)')