mixin section_5()
    section.section
        .section__inner
            +title('Общая информация','title_line')
            .section__box
                p Наряду с обычной формой обучения – очной, в нашей школе есть дистанционное обучение. Дистанционный урок позволит Вам проходить обучение в нашей школе из любой точки мира! Возможны два вида обучения:
                ul
                    li Самостоятельное занятие с использованием заранее записанного видео с преподавателем («ОФФЛАЙН-УРОК»);
                    li Индивидуальный урок в режиме онлайн («ОНЛАЙН-УРОК»).
                p Для занятий онлайн минимум необходимо иметь лишь веб-камеру с встроенным микрофоном, а для занятий с преподавателем по записанным урокам достаточно иметь только телефон. До первого занятия Вы сможете бесплатно созвониться с преподавателем, чтобы он помог выбрать инструмент (если его нет) или решил другие технические вопросы.

            .section__box.section__box_offer
                +offer('Оффлайн-урок','Вы будете получать видео-уроки, которые педагог подбирает специально для Вас. Вместе с записью Вам придет домашнее задание, которое нужно выполнить. Результаты здания Вы можете прислать преподавателю в любом мессенджере, записав свою игру даже на телефон. В ответ преподаватель снимет видео, в котором даст советы на основе Ваших результатов и поправит ошибки, если они будут, и пришлет Вам видео с новым заданием, учитывая Ваши интересы и цели. Также через мессенджеры Вы сможете задать ему любые интересующие вопросы.','Стоимость в месяц: 2000 р. за 4 видео с задание и сопровождением преподавателем','button')
                +offer('Онлайн-урок','В рамках данного формата педагог проводит с Вами занятие по веб-камере в режиме онлайн. В остальном — это обычный индивидуальный урок.','Стоимость в месяц: 5400 р. за 4 урока по 60 мин.','button')
            +title('F.A.Q')
            .section__box.section__box_faq
                +faq('','Что делать, если у меня нет инструмента?','Наш преподаватель перед первым уроком бесплатно созвонится с Вами и даст все рекомендации по покупке необходимого для занятий инструмента с оптимальным для Вас соотношением цена/качество.')
                +faq('','Чем отличаются наши ОФФЛАЙН-УРОКи от тех, что есть в интернете?','Программа, в рамках которой Вы будете заниматься, разработана преподавателями нашей школы на основе 11-летнего опыта работы в области музыкального образования. Также наш преподаватель будет всё время сопровождать Вас в рамках данного формата уроков.')
                +faq('','Я хочу играть на барабанах, мне нужна дома установка?','Не обязательно! Для занятий необходимо иметь лишь барабанные палочки либо барабанный пэд, который наш преподаватель поможет подобрать перед первым уроком при бесплатном созвоне.')
                +faq('','Что мне нужно для уроков из техники?','Для ОНЛАЙН-УРОКов необходима лишь веб-камера и инструмент, для ОФФЛАЙН - достаточно даже телефона. Как установить необходимые для занятия программы преподаватель расскажет перед первым уроком.')
                +faq('','У меня плохой интернет, я не смогу заниматься?','Сможете. В таком случае Вам подойдет ОФФЛАЙН-УРОК. В рамках такой формы занятий Вам нужно будет подгрузить видео (можно сделать ночью, например), выполнить задания оттуда, записать обратное видео и отправить аналогичным способом преподавателю.')
                +faq('','Как мне все настроить?','Об этом Вам расскажет преподаватель при звонке перед первым уроком.')
            +feedback('Оставьте заявку и мы свяжемся с Вами, чтобы уточнить удобное время для первого пробного занятия','Напоминаем, Вы платите за первый урок только в том случае, если все понравилось! Смело записывайтесь на пробный урок - Вы ничем не рискуете, а мы уверены в качестве нашего обучения!')