mixin section_3()
    section.section.section_news
        .section__inner.section__inner_news
            +title('Новости школы')
            .section__box.section__box_news
                +news('/assets/img/news_1.jpg','Хочешь написать песню, но не знаешь с чего начать?','Сегодня я расскажу тебе, как стать автором песен без минимальных музыкальных навыков и знаний. Итак, погнали. Тебе понадобится: · приложение Perfect Piano · шпаргалка – квинтовый круг · наша инструкция Интересно? Еще бы! Тогда, погнали. Скачивай приложение на телефон.')
                +news('/assets/img/news_2.jpg','Музыка сделала «Джокера»','Причина 1: Талант композитора ⠀ Музыку к фильму написала Хильдур Гуднадоуттир, виолончелистка из Исландии. Параллельно композитор работала над саундтреком сериала «Чернобыль», который принес ей премию «Эмми». В оскаровской гонке Хильдур обошла опытных коллег, несмотря на свой юный по меркам премии','')
                +news('/assets/img/news_3.jpg','Можешь не переживать)','Да, как и на любом инструменте, но это не отменяет специфическое звучание. Даже на разных видах укулеле мелодия будет отличаться, ведь есть тенор, сопрано, бас и даже электроукулеле — аналог электрогитары. Так что можешь не переживать, что не получится сыграть','')
                +news('/assets/img/news_4.jpg','Гитаристам','1. Освой правильную посадку и постановку рук. Неправильное положение приводит к зажимам, проблемам с суставами, сосудами и позвоночником. Чаще всего новички «прокалываются» именно на этом этапе. ⠀ 2. Научись играть правой рукой: перебор (арпеджио) и основные ритмы «боем»','')
                