.course{
    width: calc(33% - 15px);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: @box;
    background-color: @wt;

    &_hidden{
        margin: 0;
        padding: 0;
        height: 0;
        visibility: hidden;
    }

    @media @768{
        width: calc(50% - 15px);
    }
    @media @320{
        width: 100%;
    }

    &__image{
        flex: 0 0 215px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__content{
        flex: 0 0 250px;
        
        padding: 35 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        .rem(24);
        font-weight: 700;
        margin-bottom: 15px;
        color: @bk;
        text-align: center;
        @media @320{
            .rem(18);
        }
    }
    &__caption{
        .rem(18);
        color: @bk;
        font-weight: 600;
        line-height: 1.44;
        margin-bottom: 25px;
        text-align: center;
        @media @320{
            .rem(14);
        }
    }
}