mixin nav_map()

    ul.nav-map
        li.nav-map__item
            a(href="/").nav-map__link О школе
        li.nav-map__item.nav-map__item_group
            a(href="/").nav-map__link Курсы
            ul.nav-map.nav-map_level2
                li.nav-map__item
                    a(href="/").nav-map__link Акустическая гитара
                li.nav-map__item
                    a(href="/").nav-map__link Классическая гитара
                li.nav-map__item
                    a(href="/").nav-map__link Электрогитара
                li.nav-map__item
                    a(href="/").nav-map__link Фортепиано
                li.nav-map__item
                    a(href="/").nav-map__link Барабаны
                li.nav-map__item
                    a(href="/").nav-map__link Вокал
                li.nav-map__item
                    a(href="/").nav-map__link Укулеле
                li.nav-map__item
                    a(href="/").nav-map__link Занятия вокалом для детей
        li.nav-map__item
            a(href="/").nav-map__link Онлайн-обучение
        li.nav-map__item
            a(href="/").nav-map__link Сертификаты
        li.nav-map__item
            a(href="/").nav-map__link Новости
        li.nav-map__item
            a(href="/").nav-map__link Контакты