mixin banner()
        .banner
            .banner__title Дистанционное обучение музыке для взрослых и детей
            .banner__text
                p Занятия от 500 р.

                p Ежедневное кураторство

                p Обучение со смартфона или компьютера (Достаточно смартфона, палочек и педа)

                p Уроки без проблем даже при медленном интернете

                p Платите за первый урок только в том случае, если все понравилось!

                p Методика, рассчитанная на обучение взрослых и детей

                p Бесплатная помощь в подборе и доставке инструмента
            +button('Получить пробный урок','','','/')