.title {
    font-weight: 600;
    font-style: normal;
    .rem(30);
    line-height: 36px;
    color: @bk;
    text-align: center;
    width: 100%;

    &_line {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid @line_title;
        border-bottom: 1px solid @line_title;
        .rem(32);
        text-align: left;
    }

}