mixin nav_side()
    .nav-side
        a(href="/").nav-side__item Анонсы концертов
        a(href="/").nav-side__item Без рубрики
        a(href="/").nav-side__item История одной песни
        a(href="/").nav-side__item Киноподборки
        a(href="/").nav-side__item Мероприятия
        a(href="/").nav-side__item Новости школы
        a(href="/").nav-side__item О школе
        a(href="/").nav-side__item Отвечаем
        a(href="/").nav-side__item Отмечаем в этот день
        a(href="/").nav-side__item Советы ученикам
        a(href="/").nav-side__item Фотоотчеты