mixin footer()
    footer.footer
        .footer__inner
            .footer__box
                +logo()
                .footer__social
                    +search()
                    +social()
            .footer__box
                +nav_footer('type')
            .footer__box
                +nav_footer()
            .footer__box.footer__box_contacts
                +phone('phone_footer')
                .footer__text Звоните по всем вопросам ежедневно: 8:00 - 22:00
                .footer__text <strong>м. Чертановская.</strong> Сумской проезд, дом 8, корпус 3
                .footer__text <strong>м. Перово</strong>, Зелёный проспект, 3/10
        .footer__copyright © 2020 Музыкальная Школа Максима Ульянова. Музыкальная Школа Максима Ульянова является товарным знаком ИП Ульянова М. А., деятельность которого направлена на осуществление образовательной деятельности непосредственно и подбор преподавателей для последующего оказания ими образовательных услуг непосредственно, но с помощью в организационно-правовых и маркетинговых вопросах им с одной стороны и при контроле качества ИП Ульяновым М. А. с другой стороны. ОГРНИП 316774600154513, ПАТЕНТ 7727190003376. <a href="/">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>. ДОГОВОР-ОФЕРТА