mixin nav_footer(type)
    if type
        .nav-footer
            a(href="/").nav-footer__item О школе
            a(href="/").nav-footer__item Подарочный сертификат
            a(href="/").nav-footer__item Новости
            a(href="/").nav-footer__item Контакты
            a(href="/").nav-footer__item Карта сайта
    else
        .nav-footer
            a(href="/").nav-footer__item Акустическая гитара
            a(href="/").nav-footer__item Классическая гитара
            a(href="/").nav-footer__item Электрогитара
            a(href="/").nav-footer__item Укулеле
            a(href="/").nav-footer__item Вокал
            a(href="/").nav-footer__item Вокал для детей
            a(href="/").nav-footer__item Фортепиано
            a(href="/").nav-footer__item Барабаны
