mixin teacher()
    .teacher
        .teacher__image
            img.lazy(data-src="/assets/img/teacher.jpg" alt="")
            +button('Записаться на пробный урок','button_teacher','','','#popup_1')
        .teacher__content
            .teacher__name Юрий Попков
            .teacher__job Обучает игре на ударной установке
            .teacher__bio
                ul
                    li Учился в Сочинском училище искусств.
                    li Закончил музыкальную школу им. Шмелева по классу барабанного мастерства.
                    li Играет на барабанах более 15 лет.
                    li Выступал на различных площадках России и зарубежья.
                    li Играл в коллективах с такими исполнителями, как Гузель Хасанова (победительница телевизионного проекта «Новая фабрика звезд»).
                    li Делил сцену с исполнителями зарубежной эстрады, такими как Scooter, Cannibal Corpse, Малхас джаз-бэнд.
                    li В настоящий момент сотрудничает с российским коллективом Somathi Sitaram и исполнителем и участником проекта «Песни» Орцуев Казбек.
                    li Имеет опыт преподавания ударной установки более 5 лет для взрослых и детей как частно, так и в школах Москвы.
                    li Является автором собственной методики.
            .teacher__video.lazy(data-fancybox href="https://www.youtube.com/watch?v=kd9HCaiavic" data-src="/assets/img/play.svg") Смотреть видео