.nav {

    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 0;

    &_level2 {
        display: none;
        position: absolute;
        left: 0;
        top: 70px;
        z-index: 100;
        background-color: @wt;
        box-shadow: @box;
        width: 240px;

        &_active {
            display: flex;
            flex-direction: column;
            
        }

        li{
            display: flex;
            align-items: flex-start;
        }
        a {
            height: 30px;
            color: @bk_2;
            justify-content: start;
            width: 100%;
            .rem(12);
            
                border-bottom: 1px solid @line_box;
            
        }
    }

    &__item {
        list-style-type: none;
        height: 100%;
        margin: 0;

        &_group {
            position: relative;
        }
    }

    &__link {
        height: 70px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .rem(18);
        font-weight: normal;
        color: @nav;
        transition: all 0.3s;

        &:hover,
        &:active,
        &:focus {
            color: @red;
        }
    }
}