mixin nav()
    .nav
        a(href="/").nav__item О школе
        a(href="/").nav__item Курсы
        a(href="/").nav__item Онлайн-обучение
        a(href="/").nav__item Сертификаты
        a(href="/").nav__item Новости
        a(href="/").nav__item Контакты